
@{
    ViewBag.Title = "Info";
}

    <div>
        <h2 class="text-white">Learn More About These Material Types:</h2>
    </div>

    


<section class="mt-3 mb-3 pt-3 pb-3 text-white rounded" style="background-image:url(../../Content/img/yellow.jpeg)">
    <div class="container-fluid">
        <div class="mb-3">
            <a class="h1 btn btn-outline-dark btn-lg btn-block text-white" data-toggle="collapse" href="#collapsePLA" role="button" aria-expanded="false" aria-controls="collapsePLA">PLA</a>
            <div class="collapse" id="collapsePLA">
                <div class="text-left">
                    <p>
                        Also known as Polylactic Acid or Poly is a thermoplastic polyester with backbone formula (C
                        3H
                        4O
                        2)
                        n or [–C(CH
                        3)HC(=O)O–]
                        n, formally obtained by condensation of lactic acid C(CH
                        3)(OH)HCOOH with loss of water (hence its name). It can also be prepared by ring-opening polymerization of lactide [–C(CH
                        3)HC(=O)O–]
                        2, the cyclic dimer of the basic repeating unit.

                        PLA has become a popular material due to it being economically produced from renewable resources. In 2010, PLA had the second highest consumption volume of any bioplastic of the world, although it is still not a commodity polymer. Its widespread application has been hindered by numerous physical and processing shortcomings. PLA is the most widely used plastic filament material in 3D printing.
                    </p>
                    <p>
                        [Information found on <a href="https://en.wikipedia.org/wiki/Polylactic_acid">Wikipedia</a>]
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="mb-3">
            <a class="h1 btn btn-outline-dark btn-lg btn-block text-white" data-toggle="collapse" href="#collapseABS" role="button" aria-expanded="false" aria-controls="collapseABS">ABS</a>
            <div class="collapse" id="collapseABS">
                <div class="text-left">
                    <p>
                        Acrylonitrile butadiene styrene (ABS) (chemical formula (C8H8)x·​(C4H6)y·​(C3H3N)z) is a common thermoplastic polymer. Its glass transition temperature is approximately 105 °C (221 °F). ABS is amorphous and therefore has no true melting point.
                    </p>
                    <p>
                        ABS is a terpolymer made by polymerizing styrene and acrylonitrile in the presence of polybutadiene. The proportions can vary from 15% to 35% acrylonitrile, 5% to 30% butadiene and 40% to 60% styrene. The result is a long chain of polybutadiene crisscrossed with shorter chains of poly(styrene-co-acrylonitrile). The nitrile groups from neighboring chains, being polar, attract each other and bind the chains together, making ABS stronger than pure polystyrene. The acrylonitrile also contributes chemical resistance, fatigue resistance, hardness, and rigidity, while increasing the heat deflection temperature. The styrene gives the plastic a shiny, impervious surface, as well as hardness, rigidity, and improved processing ease. The polybutadiene, a rubbery substance, provides toughness and ductility at low temperatures, at the cost of heat resistance and rigidity. For the majority of applications, ABS can be used between −20 and 80 °C (−4 and 176 °F), as its mechanical properties vary with temperature. The properties are created by rubber toughening, where fine particles of elastomer are distributed throughout the rigid matrix.


                    </p>
                    <p>
                        [Information found on <a href="https://en.wikipedia.org/wiki/Acrylonitrile_butadiene_styrene">Wikipedia</a>]
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="mb-3">
            <a class="h1 btn btn-outline-dark btn-lg btn-block text-white" data-toggle="collapse" href="#collapsePETG" role="button" aria-expanded="false" aria-controls="collapsePETG">PETG</a>
            <div class="collapse" id="collapsePETG">
                <div class="text-left">
                    <p>
                        PET is copolymerized with other diols or diacids to optimize the properties for particular applications.

                        For example, cyclohexanedimethanol (CHDM) can be added to the polymer backbone in place of ethylene glycol. Since this building block is much larger (six additional carbon atoms) than the ethylene glycol unit it replaces, it does not fit in with the neighboring chains the way an ethylene glycol unit would. This interferes with crystallization and lowers the polymer's melting temperature. In general, such PET is known as PETG or PET-G (polyethylene terephthalate glycol-modified). It is a clear amorphous thermoplastic that can be injection-molded, sheet-extruded or extruded as filament for 3D printing. PETG can be colored during processing.
                    </p>
                    <p>
                        [Information found on <a href="https://en.wikipedia.org/wiki/Polyethylene_terephthalate#Copolymers">Wikipedia</a>]

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="mb-3">
            <a class="h1 btn btn-outline-dark btn-lg btn-block text-white" data-toggle="collapse" href="#collapsePVA" role="button" aria-expanded="false" aria-controls="collapsePVA">PVA</a>
            <div class="collapse" id="collapsePVA">
                <div class="text-left">
                    <p>
                        Poly(vinyl alcohol) (PVOH, PVA, or PVAl) is a water-soluble synthetic polymer. It has the idealized formula [CH2CH(OH)]n. It is used in papermaking, textile warp sizing, as a thickener and emulsion stabilizer in PVAc adhesive formulations, in a variety of coatings, and 3D printing. It is colourless (white) and odorless. It is commonly supplied as beads or as solutions in water. Without an externally added crosslinking agent, PVA solution can be gelled through repeated freezing-thawing, yielding highly strong, ultrapure, biocompatible hydrogels which have been used for a variety of applications such as vascular stents, cartilages, contact lenses, etc..
                    </p>
                    <p>
                        [Information found on <a href="https://en.wikipedia.org/wiki/Polyvinyl_alcohol">Wikipedia</a>]
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="mb-3">
            <a class="h1 btn btn-outline-dark btn-lg btn-block text-white" data-toggle="collapse" href="#collapseNylon" role="button" aria-expanded="false" aria-controls="collapseNylon">Nylon</a>
            <div class="collapse" id="collapseNylon">
                <div class="text-left">
                    <p>
                        Nylon is a generic designation for a family of synthetic polymers composed of polyamides (repeating units linked by amide links). Nylon is a silk-like thermoplastic, generally made from petroleum, that can be melt-processed into fibers, films, or shapes.: 2  Nylon polymers can be mixed with a wide variety of additives to achieve many different property variations. Nylon polymers have found significant commercial applications in fabric and fibers (apparel, flooring and rubber reinforcement), in shapes (molded parts for cars, electrical equipment, etc.), and in films (mostly for food packaging)
                    </p>
                    <p>
                        [Information found on <a href="https://en.wikipedia.org/wiki/Nylon">Wikipedia</a>]
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>

<div class="ml-md-3">
    <input type="button" value="Home" class="btn btn-block btn-secondary" onclick="window.location= '@Url.Action("Index", "Home")'" />
</div>